html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
}




