html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
    text-align: center;
}

.floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

.cities {
    clear: both;    
}